#company {
  font-weight: "bold";
  color: whitesmoke;
  font-size: 20px;
}
.navmenu {
  font-weight: "bold";
  color: white;
  margin-left: 20px;
  font-size: 30px;
}

.navmenu:hover {
  color: grey;
  text-decoration: none;
}

.navmenu.active_class {
  color: grey;
}

#searchBox {
  margin-top: 30px;
}
#searchCom {
  height: 1000px;
}
.bigDownload {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  font-size: 30px;
  font-weight: 900;
}

#chartPage {
  height: 1000px;
}

#chartButton {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30vw;
}

#chartButton h1 {
  text-decoration: underline;
  margin-bottom: 10px;
  margin-left: 30px;
}

#aaa {
  text-align: center;
}

#btngroup{
  margin-left: 15vw;

}
